/*
** homebank documentation css
*/

body { font-family: Arial, sans-serif; font-size:0.85em; }

a { color: #ad7fa8; }
a:hover { color: #75507b; text-decoration:none; }

h1,h2,h3,h4,h5,h6 { font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; }

h1 { color: #f57900; margin-top:0; }
h2 { color: #3465a4; }
h3 { color: #c17d11; }
h4 { color: #75507b; }
h5 { color: #73d216; }

/*
h2 { color: #fe9500; }
h3 { color: #4686c0; }
h4 { color: #3c3c3c; }
h4 img { vertical-align: baseline; /*	padding: 4px; */ }
*/

table { font-family: Arial, Helvetica, Verdana, sans-serif; font-size:0.85em; color: #444444; }

p { margin-left:1.5em; }

ol li { margin-top:.5em; }

.toc li { list-style:none; }

.csvexample { font-family:monospace; border: 1px solid #dddddd; background: #efefef; white-space: pre; margin-left: 16px; width: 50%; padding: 8px;}

/* navigation link */
body.navig { background: #ffffff url(images/bg_page.gif) repeat-y top right; }
.navig a { color: #4686c0; }
.navig a:hover { color: #ff9213; }
.navig p { margin:1em;}

div.head {
	border-top: 1px solid #babdb6;
	background-image:url(images/top-gradient.png);
	background-repeat:repeat-x;
	background-position:top;
	height:30px;
	margin-top:4px;	
}



div.gtkshot {
	float: right;
	padding: 2em 1em 1em 1em;
	text-align: center;
	border: 1px solid #d9c3d6;
	margin: 0 4em 1em 1em;
	background-image:url(images/top-gradient.png);
	background-repeat:repeat-x;
	background-position:top;
}

div.clear  { clear: both; }


div.gtkgroup { margin-left: 16px; padding: 0px; };

span.gtkgrouptitle { font-weight: bold; color: #000000; }

div.concept p { margin-left: 16px; }
div.concept h4 { margin-bottom: 0px; }

div.note { border: solid 1px #eeeeee; background: #efefef; margin: 16px; padding: 8px;}

/* table */
table.widgetinfo {
	/* border: solid #aaa 1px; */
	/*width: 80%; */
}

table.widgetinfo td {
	font-size:0.85em;
	border: solid #ddd 1px;
}

td.wname {
	/* font-weight: bold; */
	color: #222;
	vertical-align: top;
	/* text-align: left; */
	background-color: #ddd;
	width: 20%;
	padding: 2px;
}

td.winfo {
	background-color: #f1efeb;
	color: #222;
}

span.i {
	font-style: italic;
}

span.u {
	text-decoration: underline;
}

